@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #ff42a5;
  --text-linear-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --font-color-primary: #0b0223;
  --paragraph-color: #534c64;
  --heder-background: #ede4ff;
  --primary-font: "Work Sans", sans-serif, system-ui;
  --heading-font: "Inknut Antiqua", sans-serif, system-ui;
  --secondary-btn-color: #4ec5f7;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
  font-weight: 400;
}
body {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 1.5rem 4rem;
  font-weight: 600;
  font-size: 1.8rem;
  border-radius: 3rem;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btn-primary {
  background-image: var(--text-linear-gradient);
  color: #fff;
  transition: transform 0.4s ease;
  position: relative;
}

.btn-secondary {
  background-image: linear-gradient(
    60deg,
    var(--secondary-btn-color),
    var(--primary-color)
  );
  color: #fff;
  margin-left: 2rem;
  transition: transform 0.4s ease;
}
.btn-primary:hover {
  transform: scale(1.1);
}
.btn-secondary:hover {
  transform: scale(1.1);
}

.btn-white {
  background-color: white;
  transition: transform 0.4s ease;
  color: var(--primary-color);
}

.btn-white:hover {
  transform: scale(1.1);
}

.border-red {
  border: 2px solid red;
}

.border-green {
  border: 2px solid green;
}

.section-title-box {
  text-align: center;
}

.section-title {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 3.8rem;
  color: var(--font-color-primary);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.section-title-highlight {
  background-image: var(--text-linear-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-description {
  font-size: 1.6rem;
  color: var(--paragraph-color);
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
}

.row-reverse {
  flex-direction: row-reverse;
}

nav {
  min-height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(11, 2, 35, 0.1);
}
nav .logo .logo-2 {
  height: 4rem;
  margin-left: 0.4rem;
}

nav .main-menu {
  display: flex;
  margin-top: 0.6rem;
}

nav .main-menu ul {
  display: flex;
  align-items: center;
}

nav .main-menu ul li {
  margin-right: 3rem;
}

nav .main-menu ul li a:link,
a:visited {
  color: #3c354f;
  font-size: 1.8rem;
  font-weight: 500;
}

nav .main-menu .main-menu-icon-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

nav .main-menu .main-menu-icon-box .main-menu-icon {
  /* font-size: 2rem; */
  display: inline-block;
  margin-top: 0.5rem;
}

.main-menu-icon-box .main-menu-icon .bxl-youtube {
  color: #ff0000;
  font-size: 3rem;
}

.main-menu-icon-box .main-menu-icon .bxl-facebook-square {
  color: #097eeb;
  font-size: 3rem;
}
header {
  background-color: var(--heder-background);
  height: auto;
}


.banner-section {
  margin-top: 5rem;
  background-image: url("../images/group-14.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 55%;
}
.banner-section-container {
  display: flex;
  
  gap: 6rem;
}
.banner-section-column {
  min-height: 5rem;
  flex-basis: calc((100% - 60px) / 2);
}
.banner-section-column-text {
  background-image: url("Group\ 14.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.banner-section-title-secondary {
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: 2px;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: -1.8rem;
}

.banner-section-title-primary {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 5rem;
  background-image: var(--text-linear-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: -1.5rem;
}

.banner-section-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.banner-section-info li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--paragraph-color);
}
.banner-section-info li span .bx {
  font-size: 2rem;
  margin-top: 0.2rem;
  color: var(--primary-color);
}
.banner-section-info li span {
  display: inline-block;
}

.banner-section-btn-box {
  margin-top: 4rem;
}

.banner-section-column img {
  width: 100%;
}

.section-we-are-gammer {
  padding: 8rem 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.section-we-are-gammer-container {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}

.section-we-are-gammer-column-img {
  min-height: 5rem;
  flex-grow: 1;
}

.section-we-are-gammer-column-img img {
  width: 100%;
  animation: bouncing 3s ease infinite alternate-reverse;
}
.section-we-are-gammer-column-text {
  min-height: 5rem;
  flex-basis: 45%;
  text-align: right;
  padding-right: 0.3rem;
}

.section-we-are-gammer-title {
  font-family: var(--heading-font);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
  background-image: var(--text-linear-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 1px;
}

.section-we-are-gammer-description {
  font-size: 1.6rem;
  color: var(--paragraph-color);
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.section-we-are-gammer-column-text h5 {
  margin: 2.4rem 0 1rem 0;
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--paragraph-color);
}

.section-we-are-gammer-column-text h4 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--paragraph-color);
}

.section-online-game {
  margin-top: 9rem;
}

.section-online-game-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

.section-online-game-item {
  overflow: hidden;
}

.section-online-game-item .card .card-img-box img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.section-online-game-item .card .card-img-box:hover img {
  transform: scale(1.1);
}

.section-online-game-item .card .card-img-box {
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
  height: 30rem;
  margin-bottom: 2rem;
}

.section-online-game-item .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateX(-3000px);
  transition: transform 0.4s ease;
  z-index: 20;
}

.section-online-game-item .card .overlay .watch {
  font-size: 1.8rem;
  font-weight: 600;
  color: transparent;
  background-image: var(--text-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-online-game-item .card .card-img-box:hover .overlay {
  transform: translateX(0px);
}

.section-online-game-item .card {
  text-align: center;
}

.section-online-game-item .card h3 {
  font-family: var(--heading-font);
  color: var(--font-color-primary);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 1rem;
}

.section-online-game-item .card p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--paragraph-color);
  padding: 1rem;
}


.section-play-game {
  margin-top: 9rem;
}

.section-play-game-container {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.section-play-game-column-text,
.section-play-game-column-img {
  min-height: 5rem;
  width: calc((100% - 120px) / 2);
}

.section-play-game-column-text {
  text-align: right;
  padding: 3rem;
}

.section-play-game-column-text .section-title {
  line-height: 1.4;
}

.section-play-game-column-text .section-description {
  width: 70%;
  margin-left: 30%;
}
.section-play-game-column-img {
  position: relative;
}

.section-play-game-column-img img {
  width: 100%;
}

.section-play-game-column-img .section-play-game-banner-sub-img {
  width: 50%;
  height: 50%;
  position: absolute;
  left: -10rem;
  bottom: -6rem;
  animation: bouncing 3s ease infinite alternate-reverse;
}

.section-play-game-2 {
  margin-top: 12rem !important;
}
.section-play-game-column-img .position-right {
  width: 50%;
  height: 50%;
  position: absolute;
  right: -10rem;
  bottom: -6rem;
  animation: bouncing 3s ease infinite alternate-reverse;
}

.text-align-left {
  text-align: left !important;
}

.text-align-left .section-description {
  margin-left: 0 !important;
  margin-right: 30%;
}

.section-careers {
  margin-top: 12rem;
  padding: 6rem 0;
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.section-careers-container {
  display: flex;
  gap: 4rem;
}

.section-careers-column-text,
.section-careers-column-img {
  min-height: 5rem;
  flex-basis: calc((100% - 40px) / 2);
}

.section-careers-column-text {
  color: #fff;
  padding: 2rem;
}
.section-careers-title {
  font-size: 3.8rem;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 1.2;
  margin-bottom: 2rem;
}
.section-careers-description {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 500;
}
.section-careers-list {
  columns: 2;
  margin: 4rem 0 3.5rem 0;
}

.section-careers-list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.section-careers-list li {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
}

.section-careers-column-img img {
  width: 100%;
  height: 100%;
}


.section-all-game {
    margin-top: 12rem;
  }
  
 
  .section-all-game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .section-all-game-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 20px) / 5);
    margin-bottom: 2rem;
    gap: 0.5rem;
    padding: 0.8rem;
    border-radius: 5rem;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .section-all-game-item img {
    height: 3.5rem;
    width: 3.5rem;
  }
  
  .section-all-game-item:hover {
    border: 2px solid var(--primary-color);
  }
  
  .section-all-game-item a:link,
  .section-all-game-item a:visited {
    color: var(--font-color-primary);
    font-weight: 700;
    font-size: 1.4rem;
    transition: all 0.3s ease-in;
  }
  
  .section-all-game-item:hover a {
    color: var(--primary-color);
  }
 
footer {
    text-align: center;
    background-color: #0B0223;
    padding: 100px 0px;
}
.foot-section-title{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
}
.web-title-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
   
}
.title {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    color: #ede4ff;
}
.title h3 {
    color: var(--fourth-color);
   
}
.foot-section-title {
    font-size: 2.8rem;
    color: var(--fourth-color);
}
.foot-section-title span{
    color: var(--third-color);
}
.footer-web-title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
footer .font-color{
    color: rgba(255, 255, 255, 0.60);
}
.Terms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


@keyframes bouncing {
  to {
    transform: translateY(0.7rem);
  }
  form {
    transform: translateY(-0.7rem);
  }
}
